*{
    margin: 0;
    padding: 0;

}

:root {
    --animate-delay: 0.5s;
}

/* header */
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.logo{
    height: 60px;
}

.position-fixed{
    margin-right: 0;
}

.nav-link{
    font-size: 1.5rem;
    margin: 0 10px;
}

.nav-item .nav-link:hover{
    color: rgb(216, 188, 27);
}

.collapse{
    margin-right: 50px;
}


/* fin header */

/* main */
/* section 1 */
.inicio{
    margin-top: 120px;
    margin-bottom: 350px;
}

.img-principal{
    margin: 100px 0 100px 50px;
    height: 600px;
}

.texto-inicio{
    margin-top: 100px;
}

.fondo-naranja{
    background-image:url(../media//blob.svg);
    background-size: 740px;
    background-repeat: no-repeat;
}

.titulo{
   margin-top: 100px;
   font-size: 4.5rem;
   font-weight: bold;
}

.spn{
    color: rgb(216, 188, 27);
}


.boton-inicio {
    margin-top: 20px;
    padding: 12.5px 50px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(216, 188, 27);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .boton-inicio:hover {
    background-color: #ffd900;
    box-shadow: 0 0 20px #ffee0077;
    transform: scale(1.1);
  }
  
  .boton-inicio:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
/* fin section 1 */

/* section 2 */

.carru{
    margin-top: 100px;
    margin-bottom: 300px;
    
}

.carru-img{
    object-fit: cover;
    height: 950px;
    opacity: 0.8;
}

.carousel-caption{
    font-size: 5rem;
    text-align: center;
    margin-top: 0;
}

/* fin section 2 */

/* section 3 */
.cartas{
    margin-top: 10px;
    margin-bottom: 400px;
}

.titulo-cartas{
    margin-top: 200px;
    width: 100%;
}

.titulo-cartas h3{
    font-size: 5rem;
   font-weight: bold;
   text-align: center;
   padding-bottom: 30px;
   margin-bottom: 100px;
}
    

.card-img-top{
    padding: 30px  50px 15px 50px;
}

/* fin section 3 */

/* section 4 */

.mapa{
    margin-bottom: 300px;
}

/* fin section 4 */

/* fin main */

/* footer */

/* fin footer */

.logo-footer{
    height: 120px;
}

/* media queries */
@media screen and (max-width: 758px){

    .inicio{
        margin: 0;
    }

    .img-principal{
        margin: 100px 0 100px 50px;
        height: 300px;
    }

    .fondo-naranja{
        background-image:url(../media//blob.svg);
        background-size: 450px;
        background-repeat: no-repeat;
    }

    .mapa{
        width: 100%;
    }
}
/* fin media queries */